Repository jeggett/leetcode: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different

feat(2974): minimum nubmer game
  .vscode/launch.json
  .vscode/settings.json
  deno.jsonc
  package.json
  pnpm-lock.yaml
  src/typescript/p_2974_minimum_number_game/p_2974_minimum_number_game.test.ts
  src/typescript/p_2974_minimum_number_game/p_2974_minimum_number_game.ts
  tsconfig.json
Due: eslint --fix, prettier --list-different

chore: convert line endings
  .editorconfig
  .gitattributes
  .husky/pre-commit
  .lintstagedrc.yaml
  .vscode/launch.json
  .vscode/settings.json
  init.sh
  package.json
  pnpm-lock.yaml
  src/python/p_0088_merge_sorted_array/p_0088_merge_sorted_array.py
  src/python/p_0088_merge_sorted_array/test_p_0088_merge_sorted_array.py
  src/python/p_0118_pascal_triangle/p_0118_pascal_triangle.py
  src/python/p_0118_pascal_triangle/test_p_0118_pascal_triangle.py
  src/python/p_0561_array_partition/p_0561_array_partition.py
  src/python/p_0561_array_partition/test_p_0561_array_partition.py
  src/python/p_0859_buddy_strings/p_0859_buddy_strings.py
  src/python/p_0859_buddy_strings/test_p_0859_buddy_strings.py
  src/python/p_0905_sort_array_by_parity/p_0905_sort_array_by_parity.py
  src/python/p_0905_sort_array_by_parity/test_p_0905_sort_array_by_parity.py
  tsconfig.json
Due: none

feat: remove element
  src/typescript/p_27_remove_element/p_27_remove_element.test.ts
  src/typescript/p_27_remove_element/p_27_remove_element.ts
Due: eslint --fix, prettier --list-different

feat: circular array loop
  babel.config.js
  init.sh
  package.json
  pnpm-lock.yaml
  src/typescript/p_457_circular_array_loop/p_457_circular_array_loop.test.ts
  src/typescript/p_457_circular_array_loop/p_457_circular_array_loop.ts
Due: eslint --fix, prettier --list-different

feat: add extensions to imports
  init.sh
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/typescript/data_structures/linked_list.ts
  src/typescript/p_0027_remove_element/p_0027_remove_element.test.ts
  src/typescript/p_0027_remove_element/p_0027_remove_element.ts
  src/typescript/p_0041_first_missing_positive/p_0041_first_missing_positive.test.ts
  src/typescript/p_0206_reverse_linked_list/p_0206_reverse_linked_list.test.ts
  src/typescript/p_0206_reverse_linked_list/p_0206_reverse_linked_list.ts
  src/typescript/p_0217_contains_duplicate/p_0217_contains_duplicate.test.ts
  src/typescript/p_0238_product_of_array_except_self/p_0238_product_of_array_except_self.test.ts
  src/typescript/p_0268_missing_number/p_0268_missing_number.test.ts
  src/typescript/p_0283_move_zeroes/p_0283_move_zeroes.test.ts
  src/typescript/p_0287_find_the_duplicate_number/p_0287_find_the_duplicate_number.test.ts
  src/typescript/p_0448_find_all_numbers_disappeared_in_an_array/p_0448_find_all_numbers_disappeared_in_an_array.test.ts
  src/typescript/p_2574_left_and_right_sum_differences/p_2574_left_and_right_sum_differences.test.ts
  src/typescript/p_2620_counter/p_2620_counter.test.ts
  src/typescript/p_2634_filter_elements_from_array/p_2634_filter_elements_from_array.test.ts
  src/typescript/p_2635_apply_transform_over_each_element_in_array/p_2635_apply_transform_over_each_element_in_array.test.ts
  src/typescript/p_2665_counter_ii/p_2665_counter_ii.test.ts
  src/typescript/p_2667_create_hello_world_function/p_2667_create_hello_world_function.test.ts
  src/typescript/p_2704_to_be_or_not_to_be/p_2704_to_be_or_not_to_be.test.ts
  src/typescript/p_2798_number_of_employees_who_met_the_target/p_2798_number_of_employees_who_met_the_target.test.ts
  src/typescript/p_2824_count_pairs_whose_sum_is_less_than_target/p_2824_count_pairs_whose_sum_is_less_than_target.test.ts
  src/typescript/p_2942_find_words_containing_character/p_2942_find_words_containing_character.test.ts
  src/typescript/p_2974_minimum_number_game/p_2974_minimum_number_game.test.ts
  src/typescript/p_457_circular_array_loop/p_457_circular_array_loop.test.ts
Due: eslint --fix, prettier --list-different

chore: fix one test
  pnpm-lock.yaml
  src/typescript/p_2667_create_hello_world_function/p_2667_create_hello_world_function.test.ts
Due: eslint --fix, prettier --list-different

feat: valid word abbreviation
  .vscode/launch.json
  src/typescript/p_0408_valid_word_abbreviation/p_0408_valid_word_abbreviation.test.ts
  src/typescript/p_0408_valid_word_abbreviation/p_0408_valid_word_abbreviation.ts
Due: eslint --fix, prettier --list-different

feat: modernize solution workflow
  .husky/pre-commit
  .lintstagedrc.yaml
  .node-version
  .prettierrc
  .python-version
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  AGENTS.md
  README.md
  babel.config.js
  biome.json
  eslint.config.js
  init.sh
  jest.config.js
  mise.toml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  scripts/__init__.py
  scripts/check_incomplete.py
  scripts/new_problem.py
  src/python/p_0118_pascal_triangle/p_0118_pascal_triangle.py
  src/python/p_0859_buddy_strings/p_0859_buddy_strings.py
  src/python/p_2574_left_and_right_sum_differences/p_2574_left_and_right_sum_differences.py
  src/python/p_2652_sum_multiples/p_2652_sum_multiples.py
  src/typescript/p_0092_reverse_linked_list_ii/p_0092_reverse_linked_list_ii.ts
  src/typescript/p_0206_reverse_linked_list/p_0206_reverse_linked_list.ts
  src/typescript/p_2667_create_hello_world_function/p_2667_create_hello_world_function.ts
  tests/test_check_incomplete.py
  tests/test_new_problem.py
  tsconfig.json
  uv.lock
  vitest.config.ts
Due: eslint --fix, prettier --list-different

feat: streamline leetcode solving workflow
  .editorconfig
  .github/pull_request_template.md
  .github/workflows/quality.yml
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  AGENTS.md
  README.md
  new-problem.sh
  package.json
  scripts/check_incomplete.py
  scripts/doctor.py
  scripts/new_problem.py
  scripts/problem_paths.py
  scripts/submission.py
  scripts/test_one.py
  src/typescript/judge-types.d.ts
  src/typescript/p_0092_reverse_linked_list_ii/p_0092_reverse_linked_list_ii.ts
  src/typescript/p_0206_reverse_linked_list/p_0206_reverse_linked_list.ts
  src/typescript/p_0268_missing_number/p_0268_missing_number.test.ts
  src/typescript/p_0268_missing_number/p_0268_missing_number.ts
  src/typescript/p_2704_to_be_or_not_to_be/p_2704_to_be_or_not_to_be.test.ts
  src/typescript/p_2704_to_be_or_not_to_be/p_2704_to_be_or_not_to_be.ts
  tests/test_check_incomplete.py
  tests/test_doctor.py
  tests/test_new_problem.py
  tests/test_problem_paths.py
  tests/test_submission.py
  tests/test_test_one.py
  tsconfig.json
Due: eslint --fix, prettier --list-different

fix: harden submission and setup checks
  scripts/doctor.py
  scripts/submission.py
  tests/test_doctor.py
  tests/test_submission.py
Due: none

feat: add unified lc workflow
  .github/pull_request_template.md
  .vscode/tasks.json
  AGENTS.md
  README.md
  bin/lc
  mise.toml
  scripts/lc.py
  scripts/new_problem.py
  tests/test_lc.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
Due: prettier --list-different

chore: migrate runtime pins to idiomatic files
  AGENTS.md
  README.md
  mise.toml
  scripts/doctor.py
  tests/test_doctor.py
Due: prettier --list-different

ci: install idiomatic Node and pnpm tools
  .github/workflows/quality.yml
Due: none

fix: address abbreviation merge review
  README.md
  src/typescript/p_0408_valid_word_abbreviation/p_0408_valid_word_abbreviation.test.ts
  src/typescript/p_0408_valid_word_abbreviation/p_0408_valid_word_abbreviation.ts
Due: eslint --fix, prettier --list-different

fix: reject existing remote problem branches
  scripts/lc.py
  tests/test_lc.py
Due: none

fix: address workflow review feedback
  .vscode/launch.json
  bin/lc
  scripts/practice.py
  tests/test_bin_lc.py
  tests/test_practice.py
Due: none

fix: address follow-up workflow review
  bin/lc
  scripts/lc.py
  scripts/new_problem.py
  scripts/practice.py
  scripts/ready.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: harden workflow edge cases
  scripts/lc.py
  scripts/new_problem.py
  scripts/practice.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
  tests/test_practice.py
Due: none

fix: align resume and staged safeguards
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_lc_commands.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: close remaining workflow review gaps
  .github/pull_request_template.md
  package.json
  scripts/lc.py
  scripts/ready.py
  tests/test_lc_commands.py
  tests/test_ready.py
Due: prettier --list-different

fix: harden practice lifecycle validation
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_lc_commands.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: serialize all practice branch workflows
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_lc.py
  tests/test_lc_commands.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: validate complete practice repository state
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_lc_commands.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: preserve complete retry interfaces
  .husky/pre-commit
  scripts/new_problem.py
  scripts/practice.py
  scripts/ready.py
  tests/test_new_problem.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: retain imported retry data models
  scripts/practice.py
  tests/test_practice.py
Due: none

fix: preserve retry class interfaces
  scripts/practice.py
  scripts/ready.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

fix: retain retry module contracts
  scripts/lc.py
  scripts/practice.py
  tests/test_lc_commands.py
  tests/test_practice.py
Due: none

fix: preserve scaffold runtime contracts
  scripts/doctor.py
  scripts/lc.py
  scripts/new_problem.py
  scripts/practice.py
  tests/test_doctor.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
  tests/test_practice.py
Due: none

fix: reject unsafe retry interfaces
  scripts/lc.py
  scripts/practice.py
Due: none

fix: validate remaining workflow defaults
  scripts/lc.py
  scripts/practice.py
Due: none

fix: parse multiline retry imports
  scripts/practice.py
Due: none

fix: reject ambiguous retry imports
  scripts/practice.py
  scripts/ready.py
Due: none

fix: validate retry state inputs
  bin/lc
  scripts/practice.py
Due: none

fix: preserve remaining retry state
  scripts/practice.py
  tests/test_practice.py
Due: none

fix: support isolated retry dependencies
  scripts/practice.py
  tests/test_practice.py
Due: none

fix: validate retry runtime dependencies
  scripts/practice.py
  tests/test_practice.py
Due: none

fix: cover branch and retry edge cases
  scripts/practice.py
  scripts/ready.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

Path conditions:
  eslint --fix: any of: {*.js,*.ts,*.tsx,*.jsx}
  prettier --list-different: (any of: {*.js,*.ts,*.tsx,*.jsx}) or (any of: *.md)
