Repository jeggett/leetcode: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different

fix: harden workflow validation boundaries
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_practice.py
Due: none

fix: preserve remaining retry interfaces
  scripts/lc.py
  scripts/practice.py
  tests/test_practice.py
Due: none

chore: replace husky with lefthook
  .husky/pre-commit
  README.md
  bin/setup
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/doctor.py
  scripts/install_hooks.py
  scripts/ready.py
  tests/test_doctor.py
  tests/test_install_hooks.py
  tests/test_ready.py
Due: prettier --list-different

fix: reject unsafe python retry helpers
  scripts/practice.py
  tests/test_practice.py
Due: none

fix: close workflow safety gaps
  scripts/config.py
  scripts/doctor.py
  scripts/practice.py
  scripts/ready.py
  tests/test_config.py
  tests/test_doctor.py
  tests/test_practice.py
  tests/test_ready.py
Due: none

refactor: remove overengineered retry generation
  .gitignore
  README.md
  package.json
  scripts/lc.py
  scripts/practice.py
  scripts/ready.py
  tests/test_practice.py
  vitest.retry.config.ts
Due: eslint --fix, prettier --list-different

refactor: reduce workflow to core tooling
  .github/pull_request_template.md
  .gitignore
  README.md
  lc.toml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  scripts/compat.py
  scripts/config.py
  scripts/doctor.py
  scripts/lc.py
  scripts/new_problem.py
  scripts/practice.py
  scripts/ready.py
  tests/test_compat.py
  tests/test_config.py
  tests/test_doctor.py
  tests/test_lc.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
  tests/test_practice.py
  tests/test_ready.py
  tracks/interview-core.toml
  tsconfig.json
  uv.lock
Due: prettier --list-different

fix: align editor tasks and doctor checks
  .vscode/tasks.json
  scripts/doctor.py
  tests/test_doctor.py
Due: none

fix: reject unsupported python watch
  scripts/test_one.py
  tests/test_test_one.py
Due: none

docs: streamline project guidance
  CLAUDE.md
Due: prettier --list-different

docs: streamline project guidance (#56)
  CLAUDE.md
Due: prettier --list-different

docs: make personal working agreements optional
  CLAUDE.md
Due: prettier --list-different

docs: make personal working agreements optional (#57)
  CLAUDE.md
Due: prettier --list-different

refactor: simplify solution tooling
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  scripts/doctor.py
  scripts/lc.py
  scripts/new_problem.py
  scripts/problem_paths.py
  scripts/submission.py
  scripts/test_one.py
  scripts/typescript_submission.mjs
  src/python/p_1470_shuffle_the_array/test_p_1470_shuffle_the_array.py
  src/python/p_1512_number_of_good_pairs/test_p_1512_number_of_good_pairs.py
  src/python/p_1672_richest_customer_wealth/p_1672_richest_customer_wealth.py
  src/python/p_1672_richest_customer_wealth/test_p_1672_richest_customer_wealth.py
  src/python/p_1920_build_array_from_permutation/test_p_1920_build_array_from_permutation.py
  src/python/p_1929_concatenation_of_array/test_p_1929_concatenation_of_array.py
  src/python/p_2011_final_value_of_variable/test_p_2011_final_value_of_variable.py
  src/python/p_2574_left_and_right_sum_differences/p_2574_left_and_right_sum_differences.py
  src/python/p_2574_left_and_right_sum_differences/test_p_2574_left_and_right_sum_differences.py
  src/typescript/data_structures/linked_list.test.ts
  src/typescript/data_structures/linked_list.ts
  src/typescript/p_0457_circular_array_loop/p_0457_circular_array_loop.test.ts
  src/typescript/p_0457_circular_array_loop/p_0457_circular_array_loop.ts
  src/typescript/p_2974_minimum_number_game/p_2974_minimum_number_game.test.ts
  src/typescript/p_2974_minimum_number_game/p_2974_minimum_number_game.ts
  tests/test_doctor.py
  tests/test_lc.py
  tests/test_lc_commands.py
  tests/test_new_problem.py
  tests/test_problem_paths.py
  tests/test_submission.py
  tests/test_test_one.py
Due: eslint --fix, prettier --list-different

Path conditions:
  eslint --fix: any of: {*.js,*.ts,*.tsx,*.jsx}
  prettier --list-different: (any of: {*.js,*.ts,*.tsx,*.jsx}) or (any of: *.md)
